/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

!/spec/dummy/log/.keep
/spec/dummy/*.log
!/spec/dummy/tmp/.keep
!/spec/dummy/tmp/cache/.keep
!/spec/dummy/tmp/pids/.keep
/spec/dummy/tmp/*

# rspec failure tracking
.rspec_status
